@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ASP.NET 5.0 Web App</h1>
    <p>This app connects to SQL Server Database and Azure Application Insights.</p>
</div>
